/* shared style */
section {
    padding-top: 64px;
    width: 80%;
    margin-left: 128px;
    margin-right: 128px;
}



/* header section */
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    /* border: solid black 1px; */
    margin-bottom: 16px;
}

nav h1 {
    margin: 19px 0px 19px 128px;
}

nav button {
    margin: 19px 128px 19px 0px;
    padding: 12px 24px;
}

 

/* banner section */
.banner-container {
    display: flex;
    justify-content: space-between;
    height: 448px;
    background-color: #C6E4D6;
    border-radius: 10px;
}

.banner-description {
    margin-left: 48px;

}

.banner-img img {
    width: 400px;
    height: 400px;
}