/* shared style */
section {
    margin-top: 64px;
    /* width: 80%; */
    margin-left: 128px;
    margin-right: 128px;
}

body {
    background-color: rgb(240, 240, 240);
}



/* header section */
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* border: solid black 1px; */
    margin-bottom: 16px;
}

nav h1 {
    margin: 19px 0px 19px 128px;
}

nav button {
    margin: 19px 128px 19px 0px;
    padding: 12px 24px;
    color: #006A50;
    font-size: 14px;
    border-color: #006A50;
    border-radius: 6px;
    cursor: pointer;
}



/* banner section */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 448px;
    background-color: #C6E4D6;
    border-radius: 20px;
    margin-top: 16px;
}

.banner-description {
    margin-left: 48px;
}

.banner-description h5 {
    font-size: medium;
}

.banner-description h1 {
    font-size: 46px;
}

.banner-description button {
    background: linear-gradient(to right, #FF9933, #FFFFFF, #138808);
    font-size: larger;
    width: 216px;
    height: 44px;
    padding: 13px 27px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.banner-description button:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.banner-img img {
    width: 300px;
    height: 300px;
}



/* pillars section */
.pillars-container h1 {
    font-size: bold;
}

.pillars-cards-container {
    display: flex;
    justify-content: center;
    gap: 19px;
}

.pillars-cards {
    border: solid #0e0e0e43 1px;
    background-color: white;
    width: 241px;
    height: 260px;
    padding: 10px;
    border-radius: 12px;

}

.pillars-cards-title {
    font-size: bold;
}

.pillars-cards-desc {
    font-size: 12px;
}




/* future section */
.future-container h1 {
    font-size: bold;
}

.future-cards-container {
    display: flex;
    justify-content: center;
    gap: 19px;
}

.future-cards {
    border: solid rgb(204, 204, 204) 1px;
    width: 328px;
    height: 260px;
    padding: 10px;
    border-radius: 12px;
}

.future-cards-title {
    font-size: bold;
}

.future-cards-desc {
    font-size: 12px;
}

.future-button {
    height: 32px;
    border-radius: 6px;
    border: none;
    padding: 9px 16px;
    font-size: 12px;
    color: rgb(42, 41, 41);

}

.future-paragraph-container {
    height: 300px;
    border: solid rgb(204, 204, 204) 1px;
    border-radius: 12px;
    margin-top: 25px;
    position: relative;
    /* background-image: url('assets/quote-bg.png'); */
    background-color: white;
    background-repeat: no-repeat;
    padding: 38px 19px 0px;
    z-index: 10;
}

.quote-img {
    position: absolute;
    top: 12px;
}




/* opinion section */
.opinion-container {
    height: 378px;
    /* border-radius: 20px; */
    /* border: solid black 1px; */
}

.opinion-container h1 {
    margin: 0px;
    padding: 0px;

}

.opinion-table-container {
    display: flex;
    justify-content: center;
    height: 327px;
    background-color: white;
    border-radius: 12px;
    margin-top: 12px;
    /* border: solid black 1px; */
}

.opinion-table {
    width: 972px;
    height: 276px;
    border-collapse: collapse;
    margin: 25px 25px 25px 25px;
}

.opinion-table th:first-child {
    border-right: none;
}

.opinion-table th {
    text-align: start;
    padding: 0px 19px 0px 19px;
    background-color: #C6E4D6;
    height: 57px;
    border: solid black 1px;
    /* border-left: none; */
}

.opinion-table td {
    border: solid black 1px;
    padding: 0px 19px 0px 19px;
}

.opinion-table .dropdown {
    margin-left: 40px;
    text-align: center;
    width: 121px;
    height: 35px;
    background-color: #C6E4D6;
}




/* news section */
.news-card {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    background-color: white;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    margin-bottom: 19px;
    padding: 0px 38px;
}

.news-img img {
    width: 326px;
    height: 244px;
    border-radius: 20px;
    margin: 38px 0px 38px 0px;
    /* border: solid black 1px; */
}

.news-card-desc h1 {
    margin: 0px;
    /* border: solid black 1px; */
}

.news-card-desc p,
article {
    font-size: 12px;
}

.middle-card {
    flex-direction: row-reverse;

}


.news-card button {
    background: linear-gradient(to right, #FF9933, #FFFFFF, #138808);
    font-size: larger;
    width: 111px;
    height: 38px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.news-card button:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}




/* donate section */
.donate-container {
    text-align: center;
    border: solid white 1px;
}

.donate-card {
    display: flex;
    justify-content: center;
    gap: 19px;
}

.donate-money {
    border: solid #0e0e0e43 1px;
    border-radius: 12px;
    font-size: bold;
    padding: 32px;
    background-color: white;
    cursor: pointer;
}

.donate-money:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 20px rgba(43, 154, 43, 0.3);
}

.donate-input input {
    text-align: center;
    border: none;
    width: 825px;
    height: 51px;
    margin-bottom: 25px;
}

.donate-container button {
    background: linear-gradient(to right, #FF9933, #FFFFFF, #138808);
    font-size: larger;
    width: 120px;
    height: 44px;
    padding: 13px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.donate-container button:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}




/* subscribe section */
.subscribe-container {
    text-align: center;
    background-color: #C6E4D6;
    height: 316px;
    border-radius: 20px;
}

.subscribe-div {
    padding: 64px 212px;
}

.subscribe-field {
    display: flex;
}

.subscribe-field input {
    height: 44px;
    width: 420px;
    border: none;
}

.subscribe-field button {
    background-color: #138808;
    height: 46px;
    width: 120px;
    border: none;
}




/* footer section */
.footer-container {
    background-color: white;
    height: 180px;
    margin-top: 64px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}

.footer-desc {
    text-align: center;
    align-content: center;
    color: #0E0E0E;
}

.footer-title::after {
    content: "";
    display: block;
    width: 898px;
    height: 1px;
    background-color: #0E0E0E;
    margin: 25px auto 25px; 
    border-radius: 2px;
}

.footer-social-img {
    display: flex;
    justify-content: center;
    gap: 20px;
}